body
{
    background-color: black;
}
h1
{
    color: blueviolet;
    text-align: center;
}
h2
{
    color: rgb(80, 226, 43);
    text-align: center;
}
h3
{
    color: rgb(43, 198, 226);
    text-align: center;
}
p
{
    color: rgb(116, 226, 43);
    text-align: center;
}