body
{
    background-color: black;
}
h1
{
    color: aqua;
    text-align: center;
}
div img
{
    margin-top: 50px;
    margin-left: 17.9rem;
}
button
{
    color: aqua;
    background-color: black;
    border-color: brown;
    border-radius: 30%;
    margin-left: 26rem;
    font-size: larger ;
}